body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: #222;
    color: white;
    padding: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

nav a {
    color: white;
    margin-right: 40px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    width: 100%;
    height: 250px;
    background-color: #ccc;
    text-align: center;
    line-height: 250px;
    font-size: 28px;
    color: #444;
}

.hero img{
    object-fit: contain;
    opacity: 15%;
    overflow: hidden;
}

.section-title {
    font-size: 22px;
    margin: 20px;
    background-color: #cccccc60;
}

.collections {
    margin: 0 20px;
}

.collection-box {
    width: 100%;
    height: 120px;
    background: white;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
}

.gallery {
    margin: 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #dadada9f;
}

.painting-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    background: white;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    text-align: center;
    line-height: 150px;
    font-size: 16px;
    overflow: visible;
    position: relative;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.welcome-box {
    background: white;
    margin: 10px 20px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

header nav a:hover {
    margin-left: -20px;
    padding: 15px;
    background-color: #cccccc34;
}

.painting-box img {
    width: 150%;
    height: 150%;
    object-fit: cover;     /* or object-fit: contain; */
    border-radius: 3px;
    transition: transform 0.5s ease;
    transform-origin: center center; 
}

.painting-box img:hover {
    transform: scale(1.5);
    object-fit: contain;
    z-index: 10;
}

/* ACCOUNT DATA SETTINGS FORM */

form {
    background: white;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

form td:first-child {
    width: 30%;
    padding: 10px 0;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="int"] {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #444;
}
