.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
}

body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #f7f7f7;
}

header {
background-color: #222;
color: white;
padding: 20px;
text-align: center;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
}

footer {
background-color: #222;
color: white;
text-align: center;
padding: 15px 0;
position: fixed; /* ChatGPT bantu membantu untuk pembuatan footer yang tempel kebawah */
bottom: 0;
left: 0;
width: 100%;
}

.gallery-section {
padding: 20px;
display:flex; 
flex-direction: row;
justify-content:center; 
align-items:center; 
gap:40px; 
padding:60px 20px;
}

.painting {
background-color: white;
border-radius: 8px;
padding: 10px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
height: 250px;
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;
color: #555;
}

.login-box {
width: 300px;
background: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 10px rgba(0,0,0,0.15);
margin: 40px auto;
}

.login-box h2 {
margin-top: 0;
text-align: center;
}

.login-box h4 {
    text-align: center;
}

.login-box a {
    color: rgba(42, 70, 75, 0.8);
}

.login-box input {
width: 100%;
padding: 10px;
margin: 10px 0;
border-radius: 4px;
border: 1px solid #ccc;
}

.login-box button {
width: 100%;
padding: 10px;
border: none;
background: #222;
color: white;
border-radius: 4px;
cursor: pointer; /* <-- dapat info dari W3S */
}

.login-box button:hover { 
background: #444;
}